@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
  margin: 0;
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*NAVBAR*/
.logo-od {
  height: 120px;
  margin-bottom: -5%;
}

.me-auto{
  background-color: yellow;
  margin-left: 25%;
  font-size: 25px;
  font-weight: 600;
  width: 150%;
  margin-right: -30%;
}

.iniciar{
  margin-left: 30%;
}
/*FOTO PORTADA*/
.img-med{
  height: 580px;
  margin-bottom: -45%;
  width: 360px;
  margin-left: -77%;
  margin-top: -22%;
  }
/*PRESENTACION DR*/
  .nombre{
    line-height : 1px;
  }

  .nombre h1{
    line-height : 250px;
  }
/*QUIENES SOMOS BOX3 */
  .general{
    background-color: aqua;
    margin-bottom: 1%; 
    padding-bottom: 5%;
    margin-top: 5%;
  }

  .quien{
    position: static;
    padding-bottom: -10%;
  }

 .quien h1{
  text-align: center;
  vertical-align: bottom;
  padding-top: 26px;
  margin-bottom: -1%; 
 }

 .quien h3{
  text-align: justify;
  vertical-align: bottom;
  padding-top: 40px;
  margin-right: 30%;
  margin-left: 8%;
  position: relative;
  vertical-align: 40%;
  }

 .img-quien img{
  height: 350px;
  width: 280px;
  right: 250%;
  margin-left: 70%;
  position:flex;
  margin-top: -16%;
 }

 /*SERVICIOS BOX4*/
 .circulo h1{
  margin-bottom: 5%;
 }
 .efes img{
  width: 300px;
  height: 300px;
  object-fit:cover ;
  display: inline;
  border-radius: 50%;
  position: relative;
  padding-top: 1%;
  border: rgb(75, 147, 214) 5px solid;
 }

.efes button{
  display: inline;
  position: absolute;
  margin-top: -1%;
  margin-left: 6%;
  width: 190px;
  
}

.f1{
  margin: auto;
  display: inline-block;
  margin: 2%;
}

.f2{
  margin: auto;
  display: inline-block;
  margin: 2%;
}

.f3{
  margin: auto;
  display: inline-block;
  margin: 2%;

}

.f4{
  margin: auto;
  display: inline-block;
  margin: 2%;

}



